<bR>&nbsp;&nbsp;&nbsp;<%= link_to "Add Show", new_user_movieshow_path(current_user), class: "btn btn-info" %>

<div class="container">
  <div class="row">
      <%current_user.movies.each do |movie| %>
        <div class="col-sm-4">
          <div class="card" style="width: 14rem;">
              <%= image_tag(movie.thumbnail)%>
              <div class="card-body">
                <center><p class="card-text"><%= link_to movie.name, user_movie_path(current_user,movie.id) %></p></center>
              </div>
          </div><br>
        </div>
      <%end%>
  </div>
</div>


<%= link_to "Back", welcome_index_path, class: "btn btn-warning" %> 











