

 @import 'bootstrap';


 	.seat{
        width: 40px;
        height: 40px;
        background: powderblue;
    }

    #movies{
    	
    }

  	#form {
	    left: 60%;
	    top: 60%;
	    margin-left: -25%;
	    position: absolute;
	    margin-top: -25%;
	}

	#show_form {
		left: 60%;
	    top: 60%;
	    margin-left: -25%;
	    position: absolute;
	    margin-top: -25%;
	}

	#movieshow_movie_id {
		width: 70%;
		height: auto;
	}

	#movieshow_screen_id {
		width: 50%;
		height: auto;
	}	
	
	